:root {
  --without-fill: rgba(216, 216, 216, 0);
  --accentffffff: rgba(255, 255, 255, 1);
  --accent-90-8e-8e: rgba(144, 142, 142, 1);
  --accent-ffffff-50: rgba(255, 255, 255, 0.5);
  --accente-8cd-96: rgba(232, 205, 150, 1);
  --outlineprimary: rgba(238, 238, 238, 1);
  --blacks-222222: rgba(34, 34, 34, 1);
  --blacks222222-4: rgba(255, 255, 255, 1);
  --blacks222222-60: rgba(34, 34, 34, 0.6);
  --ef-412-3dark: rgba(239, 65, 35, 1);
  --ef-412-3primary: rgba(239, 65, 35, 1);
  --ef-412-3soft: rgba(239, 65, 35, 1);
  --x-1c-2d-5aprimary: rgba(28, 45, 90, 1);
  --x-1c-2d-5adark: rgba(28, 45, 90, 1);
  --x-1c-2d-5asoft: rgba(28, 45, 90, 1);
  --fdf0d5-primary: rgba(253, 240, 213, 1);
  --fdf0d5-soft: rgba(255, 255, 255, 1);
  --c6d8d3-primary: rgba(198, 216, 211, 1);
  --c6d8d3-soft: rgba(255, 255, 255, 1);
  --heading-h1-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-h1-font-weight: 800;
  --heading-h1-font-size: 34px;
  --heading-h1-letter-spacing: -0.09444444626569748px;
  --heading-h1-line-height: 48px;
  --heading-h1-font-style: normal;
  --heading-h2-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-h2-font-weight: 800;
  --heading-h2-font-size: 24px;
  --heading-h2-letter-spacing: -0.08571428805589676px;
  --heading-h2-line-height: 36px;
  --heading-h2-font-style: normal;
  --heading-h3-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-h3-font-weight: 800;
  --heading-h3-font-size: 22px;
  --heading-h3-letter-spacing: -0.09166666865348816px;
  --heading-h3-line-height: 32px;
  --heading-h3-font-style: normal;
  --heading-h4-font-family: "Inter", Helvetica;
  --heading-h4-font-weight: 700;
  --heading-h4-font-size: 18px;
  --heading-h4-letter-spacing: 0px;
  --heading-h4-line-height: 27px;
  --heading-h4-font-style: normal;
  --heading-h5-font-family: "Plus Jakarta Sans", Helvetica;
  --heading-h5-font-weight: 700;
  --heading-h5-font-size: 16px;
  --heading-h5-letter-spacing: 0px;
  --heading-h5-line-height: 24px;
  --heading-h5-font-style: normal;
  --buttons-16px-font-family: "Inter", Helvetica;
  --buttons-16px-font-weight: 700;
  --buttons-16px-font-size: 16px;
  --buttons-16px-letter-spacing: -0.10000000149011612px;
  --buttons-16px-line-height: 24px;
  --buttons-16px-font-style: normal;
  --buttons-14px-font-family: "Inter", Helvetica;
  --buttons-14px-font-weight: 700;
  --buttons-14px-font-size: 14px;
  --buttons-14px-letter-spacing: -0.10000000149011612px;
  --buttons-14px-line-height: 21px;
  --buttons-14px-font-style: normal;
  --text-16px-light-font-family: "Plus Jakarta Sans", Helvetica;
  --text-16px-light-font-weight: 300;
  --text-16px-light-font-size: 16px;
  --text-16px-light-letter-spacing: 0px;
  --text-16px-light-line-height: 24px;
  --text-16px-light-font-style: normal;
  --text-16px-regular-font-family: "Plus Jakarta Sans", Helvetica;
  --text-16px-regular-font-weight: 400;
  --text-16px-regular-font-size: 16px;
  --text-16px-regular-letter-spacing: 0px;
  --text-16px-regular-line-height: 24px;
  --text-16px-regular-font-style: normal;
  --text-14px-light-font-family: "Plus Jakarta Sans", Helvetica;
  --text-14px-light-font-weight: 300;
  --text-14px-light-font-size: 14px;
  --text-14px-light-letter-spacing: -0.10000000149011612px;
  --text-14px-light-line-height: 21px;
  --text-14px-light-font-style: normal;
  --text-14px-regular-font-family: "Plus Jakarta Sans", Helvetica;
  --text-14px-regular-font-weight: 400;
  --text-14px-regular-font-size: 14px;
  --text-14px-regular-letter-spacing: -0.10000000149011612px;
  --text-14px-regular-line-height: 21px;
  --text-14px-regular-font-style: normal;
  --text-14px-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --text-14px-bold-font-weight: 700;
  --text-14px-bold-font-size: 14px;
  --text-14px-bold-letter-spacing: -0.10000000149011612px;
  --text-14px-bold-line-height: 21px;
  --text-14px-bold-font-style: normal;
  --text-12px-regular-font-family: "Plus Jakarta Sans", Helvetica;
  --text-12px-regular-font-weight: 400;
  --text-12px-regular-font-size: 12px;
  --text-12px-regular-letter-spacing: -0.10000000149011612px;
  --text-12px-regular-line-height: 18px;
  --text-12px-regular-font-style: normal;
  --text-12px-bold-font-family: "Plus Jakarta Sans", Helvetica;
  --text-12px-bold-font-weight: 700;
  --text-12px-bold-font-size: 12px;
  --text-12px-bold-letter-spacing: -0.10000000149011612px;
  --text-12px-bold-line-height: 18px;
  --text-12px-bold-font-style: normal;
  --text-12px-medium-font-family: "Plus Jakarta Sans", Helvetica;
  --text-12px-medium-font-weight: 500;
  --text-12px-medium-font-size: 12px;
  --text-12px-medium-letter-spacing: 0px;
  --text-12px-medium-line-height: 18px;
  --text-12px-medium-font-style: normal;
  --icons-16px-font-family: "Material Icons", Helvetica;
  --icons-16px-font-weight: 400;
  --icons-16px-font-size: 16px;
  --icons-16px-letter-spacing: 0px;
  --icons-16px-line-height: normal;
  --icons-16px-font-style: normal;
  --icons-18px-font-family: "Material Icons", Helvetica;
  --icons-18px-font-weight: 400;
  --icons-18px-font-size: 18px;
  --icons-18px-letter-spacing: 0px;
  --icons-18px-line-height: normal;
  --icons-18px-font-style: normal;
  --icons-20px-font-family: "Material Icons", Helvetica;
  --icons-20px-font-weight: 400;
  --icons-20px-font-size: 20px;
  --icons-20px-letter-spacing: 0px;
  --icons-20px-line-height: normal;
  --icons-20px-font-style: normal;
  --icons-22px-font-family: "Material Icons", Helvetica;
  --icons-22px-font-weight: 400;
  --icons-22px-font-size: 22px;
  --icons-22px-letter-spacing: 0px;
  --icons-22px-line-height: normal;
  --icons-22px-font-style: normal;
  --icons-28px-font-family: "Material Icons", Helvetica;
  --icons-28px-font-weight: 400;
  --icons-28px-font-size: 28px;
  --icons-28px-letter-spacing: 0px;
  --icons-28px-line-height: normal;
  --icons-28px-font-style: normal;
  --display-large-font-family: "Plus Jakarta Sans", Helvetica;
  --display-large-font-weight: 800;
  --display-large-font-size: 75px;
  --display-large-letter-spacing: 0px;
  --display-large-line-height: 86px;
  --display-large-font-style: normal;
  --display-medium-font-family: "Plus Jakarta Sans", Helvetica;
  --display-medium-font-weight: 700;
  --display-medium-font-size: 50px;
  --display-medium-letter-spacing: -0.2380952388048172px;
  --display-medium-line-height: 62px;
  --display-medium-font-style: normal;
  --display-small-font-family: "Plus Jakarta Sans", Helvetica;
  --display-small-font-weight: 700;
  --display-small-font-size: 40px;
  --display-small-letter-spacing: -0.2380952388048172px;
  --display-small-line-height: 48px;
  --display-small-font-style: normal;
  --shadows-4px: 0px 3px 4px 0px rgba(153, 155, 168, 0.15);
  --shadows-8px: 0px 8px 12px 0px rgba(153, 155, 168, 0.15);
  --shadows-12px: 0px 12px 14px 0px rgba(153, 155, 168, 0.12);
  --shadows-16px: 0px 16px 18px 0px rgba(153, 155, 168, 0.12);
  --shadows-20px: 0px 20px 24px 0px rgba(153, 155, 168, 0.15);
  --shadows-6px: 0px -6px 20px 0px rgba(153, 155, 168, 0.15);
  --shadows-15px: 0px -15px 20px 0px rgba(153, 155, 168, 0.15);
}
