.sign-up-v-step {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sign-up-v-step .div {
  background-color: #ffffff;
  width: 1440px;
  height: 900px;
  position: relative;
}

.sign-up-v-step .social-buttons {
  position: absolute;
  width: 420px;
  height: 174px;
}

.sign-up-v-step .buttons-social-with {
  position: absolute;
  width: 420px;
  height: 54px;
  top: 0;
  left: 0;
  background-color: var(--accentffffff);
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--outlineprimary);
}

.sign-up-v-step .lable {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  position: relative;
  top: 15px;
  left: 130px;
}

.sign-up-v-step .icon {
  position: relative;
  width: 16px;
  height: 16px;
  background-image: url(https://c.animaapp.com/FTGYRVIw/img/buttons---social---logo-placeholder---google.svg);
  background-size: 100% 100%;
}

.sign-up-v-step .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--text-14px-bold-font-family);
  font-weight: var(--text-14px-bold-font-weight);
  color: var(--accent-90-8e-8e);
  font-size: var(--text-14px-bold-font-size);
  text-align: center;
  letter-spacing: var(--text-14px-bold-letter-spacing);
  line-height: var(--text-14px-bold-line-height);
  white-space: nowrap;
  font-style: var(--text-14px-bold-font-style);
}

.sign-up-v-step .signup-size-button {
  width: 420px;
  height: 54px;
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--accent-90-8e-8e);
  background-color: var(--accentffffff);
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--outlineprimary);
}

.sign-up-v-step .icon-inside {
  position: absolute;
  top: 50%;
  right: 10px;  /* Adjust as needed */
  transform: translateY(-50%);
  font-size: 1.2rem; /* Adjust size as needed */
  color: #555; /* Set icon color, no background is used */
  pointer-events: none; /* So that clicks pass through to the input */
}

.sign-up-v-step .input-icon {
  background-size: 20px 20px; /* adjust as needed */
  padding-left: 40px; /* add extra padding so text doesn't overlap the icon */
}

.sign-up-v-step .signup-size-button:hover{
  width: 420px;
  height: 54px;
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--accentffffff);
  background-color: var(--accent-90-8e-8e);
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--outlineprimary);
}

.sign-up-v-step .lable-wrapper {
  top: 60px;
  position: absolute;
  width: 420px;
  height: 54px;
  left: 0;
  background-color: var(--accentffffff);
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--outlineprimary);
}

.sign-up-v-step .lable-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  position: relative;
  top: 15px;
  left: 122px;
}

.sign-up-v-step .icon-2 {
  position: relative;
  width: 16px;
  height: 16px;
  background-image: url(https://c.animaapp.com/FTGYRVIw/img/buttons---social-icons---facebook.svg);
  background-size: 100% 100%;
}

.sign-up-v-step .div-wrapper {
  top: 120px;
  position: absolute;
  width: 420px;
  height: 54px;
  left: 0;
  background-color: var(--accentffffff);
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--outlineprimary);
}

.sign-up-v-step .lable-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  position: relative;
  top: 15px;
  left: 132px;
}

.sign-up-v-step .icon-3 {
  position: relative;
  width: 16px;
  height: 16px;
  background-image: url(https://c.animaapp.com/FTGYRVIw/img/buttons---social---logo-placeholder---twitter.svg);
  background-size: 100% 100%;
}

.sign-up-v-step .or {
  position: absolute;
  width: 417px;
}

.sign-up-v-step .text-wrapper-2 {
  position: absolute;
  top: -1px;
  left: 202px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #8f8e8e;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.10px;
  line-height: 21px;
  white-space: nowrap;
}

.sign-up-v-step .line {
  position: absolute;
  width: 185px;
  height: 1px;
  top: 12px;
  left: 0;
}

.sign-up-v-step .line-copy {
  position: absolute;
  width: 185px;
  height: 1px;
  top: 12px;
  left: 232px;
}

.sign-up-v-step .forms {
  position: absolute;
  width: 420px;
  height: 192px;
  top: 169px;
  left: 510px;
}

.forms-selectbox {
  height: 72px;
}

.sign-up-v-step .icon-4 {
  position: absolute;
  top: 33px;
  left: 385px;
  font-family: var(--icons-18px-font-family);
  font-weight: var(--icons-18px-font-weight);
  color: var(--blacks-222222);
  font-size: var(--icons-18px-font-size);
  text-align: center;
  letter-spacing: var(--icons-18px-letter-spacing);
  line-height: var(--icons-18px-line-height);
  white-space: nowrap;
  font-style: var(--icons-18px-font-style);
}

.sign-up-v-step .placeholder {
  position: absolute;
  top: 32px;
  left: 19px;
  font-family: var(--text-14px-bold-font-family);
  font-weight: var(--text-14px-bold-font-weight);
  color: var(--blacks-222222);
  font-size: var(--text-14px-bold-font-size);
  letter-spacing: var(--text-14px-bold-letter-spacing);
  line-height: var(--text-14px-bold-line-height);
  white-space: nowrap;
  font-style: var(--text-14px-bold-font-style);
}

.sign-up-v-step .field-title {
  position: absolute;
  top: 11px;
  left: 19px;
  font-family: var(--text-12px-regular-font-family);
  font-weight: var(--text-12px-regular-font-weight);
  color: var(--accent-90-8e-8e);
  font-size: var(--text-12px-regular-font-size);
  letter-spacing: var(--text-12px-regular-letter-spacing);
  line-height: var(--text-12px-regular-line-height);
  white-space: nowrap;
  font-style: var(--text-12px-regular-font-style);
}

.sign-up-v-step .buttons-filled {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 420px;
  height: 54px;
}

.buttons-filled .button-position{
  width: 420px;
  height: 54px;
}

.sign-up-v-step .overlap-group {
  position: relative;
  width: 422px;
  height: 56px;
  top: -1px;
  left: -1px;
  background-color: var(--ef-412-3primary);
  border-radius: 10px;
}

.sign-up-v-step .lable-4 {
  position: absolute;
  top: 16px;
  left: 185px;
  font-family: var(--text-14px-bold-font-family);
  font-weight: var(--text-14px-bold-font-weight);
  color: var(--accentffffff);
  font-size: var(--text-14px-bold-font-size);
  text-align: center;
  letter-spacing: var(--text-14px-bold-letter-spacing);
  line-height: var(--text-14px-bold-line-height);
  white-space: nowrap;
  font-style: var(--text-14px-bold-font-style);
}

.sign-up-v-step .forms-radio-resting {
  position: absolute;
  width: 296px;
  height: 20px;
}

.sign-up-v-step .title {
  position: absolute;
  top: -2px;
  left: 30px;
  font-family: var(--text-14px-bold-font-family);
  font-weight: var(--text-14px-bold-font-weight);
  color: var(--accent-90-8e-8e);
  font-size: var(--text-14px-bold-font-size);
  letter-spacing: var(--text-14px-bold-letter-spacing);
  line-height: var(--text-14px-bold-line-height);
  white-space: nowrap;
  font-style: var(--text-14px-bold-font-style);
}

.sign-up-v-step .bg {
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}

.sign-up-v-step .title-2 {
  position: absolute;
  width: 430px;
  height: 73px;
  top: 174px;
  left: 505px;
}

.sign-up-v-step .sign-up-to-success{
  font-family: var(--heading-h1-font-family);
  font-weight: var(--heading-h1-font-weight);
  color: var(--blacks-222222);
  font-size: var(--heading-h1-font-size);
  text-align: center;
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  white-space: nowrap;
  font-style: var(--heading-h1-font-style);
}

.sign-up-v-step .sign-up-to-getting-s {
  position: absolute;
  top: -1px;
  left: 2px;
  font-family: var(--heading-h1-font-family);
  font-weight: var(--heading-h1-font-weight);
  color: var(--blacks-222222);
  font-size: var(--heading-h1-font-size);
  text-align: center;
  letter-spacing: var(--heading-h1-letter-spacing);
  line-height: var(--heading-h1-line-height);
  white-space: nowrap;
  font-style: var(--heading-h1-font-style);
}

.sign-up-v-step .enter-your-details-success {
  font-family: var(--text-14px-regular-font-family);
  font-weight: var(--text-14px-regular-font-weight);
  color: var(--accent-90-8e-8e);
  font-size: var(--text-14px-regular-font-size);
  text-align: center;
  letter-spacing: var(--text-14px-regular-letter-spacing);
  line-height: var(--text-14px-regular-line-height);
  white-space: nowrap;
  font-style: var(--text-14px-regular-font-style);
}

.sign-up-v-step .enter-your-details-t {
  position: absolute;
  top: 51px;
  left: 97px;
  font-family: var(--text-14px-regular-font-family);
  font-weight: var(--text-14px-regular-font-weight);
  color: var(--accent-90-8e-8e);
  font-size: var(--text-14px-regular-font-size);
  text-align: center;
  letter-spacing: var(--text-14px-regular-letter-spacing);
  line-height: var(--text-14px-regular-line-height);
  white-space: nowrap;
  font-style: var(--text-14px-regular-font-style);
}

.sign-up-v-step .header {
  position: absolute;
  width: 1140px;
  height: 44px;
  top: 20px;
  left: 150px;
  background-color: transparent;
}

.sign-up-v-step .buttons-filled-2 {
  position: absolute;
  width: 116px;
  left: 1024px;
  background-color: var(--blacks222222-4);
  border-radius: 10px;
}

.sign-up-v-step .lable-5 {
  position: absolute;
  top: 10px;
  left: 35px;
  font-family: var(--text-14px-bold-font-family);
  font-weight: var(--text-14px-bold-font-weight);
  color: var(--accent-90-8e-8e);
  font-size: var(--text-14px-bold-font-size);
  text-align: center;
  letter-spacing: var(--text-14px-bold-letter-spacing);
  line-height: var(--text-14px-bold-line-height);
  white-space: nowrap;
  font-style: var(--text-14px-bold-font-style);
}

.sign-up-v-step .logo-full {
  position: absolute;
  width: 161px;
  height: 44px;
  top: 0;
  left: 0;
}

.sign-up-v-step .logo-dark-icon {
  position: absolute;
  width: 44px;
  height: 44px;
  top: 0;
  left: 0;
}

.sign-up-v-step .roomsfy {
  position: absolute;
  top: 7px;
  left: 48px;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-weight: 700;
  color: var(--ef-412-3primary);
  font-size: 22px;
  letter-spacing: -1.10px;
  line-height: 27px;
  white-space: nowrap;
}

.form-filter {
  width: 300px !important;
  font-size: 12px;
  height: 35px;
}

.form-border-filter-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.btn-border {
  border-radius: 5px;
}

.form-border-filter-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.select-with-icon select {
  appearance: none; /* Removes default arrow in some browsers */
}
